.cursor-pointer {
  cursor: pointer;
}

.gap:hover {
  text-decoration: underline;
  color: white;
}
.text-decoration {
  text-decoration: none;
}

.margin-right {
  margin-right: 20px;
}

.margin-top {
  margin-top: 5px;
}
